<div class="container">
  <h1 style="text-align: center">Employee Details</h1>
  <br />

  <!-- MODAL STARTS HERE -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ dialogTitle }}
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form
        class="text-center border border-light p-5"
        [formGroup]="employeeForm"
        (ngSubmit)="onSubmit()"
      >
        <label for="name" class="label">Name</label>
        <input
          type="text"
          placeholder="name"
          formControlName="name"
          class="form-control mb-2"
          [value]="employeeForm.get('name').value | titlecase"
        />
        <p class="error" *ngIf="name.errors?.required && name.touched">
          Enter name
        </p>
        <p class="error" *ngIf="name.errors?.minlength && name.touched">
          Minimum length 3
        </p>
        <input
          type="number"
          placeholder="salary"
          formControlName="salary"
          class="form-control mb-2"
        />
        <p class="error" *ngIf="salary.errors?.required && salary.touched">
          Please Enter your Salary
        </p>
        <p class="error" *ngIf="salary.errors?.min && salary.touched">
          Minimum salary Rs. 10,000
        </p>
        <p class="error" *ngIf="salary.errors?.max && salary.touched">
          Maximum salary Rs. 9,999,999
        </p>
        <input
          type="number"
          placeholder="age"
          formControlName="age"
          class="form-control mb-2"
        />
        <p class="error" *ngIf="age.errors?.required && age.touched">
          Please Enter your age
        </p>
        <p class="error" *ngIf="age.errors?.min && age.touched">
          Minimum age limit 16
        </p>
        <p class="error" *ngIf="age.errors?.max && age.touched">
          Maximum age limit 150
        </p>
        <button
          class="btn btn-outline-primary"
          type="submit"
          *ngIf="showSubmit"
          [disabled]="!employeeForm.valid"
        >
          Submit
        </button>
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="onUpdate()"
          *ngIf="showUpdate"
          [disabled]="!employeeForm.valid"
        >
          Update
        </button>
      </form>
    </div>
  </ng-template>
  <div style="text-align: center">
    <button
      class="btn btn-lg btn-outline-primary"
      (click)="onAddEmployee(content)"
    >
      Add Employee
    </button>
  </div>
  <!-- MODAL ENDS HERE -->

  <br /><br />

  <!-- SEARCH -->
  <div class="search-hero">
    <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="Start searching"
      (keyup.enter)="search()"
    />
  </div>
  <br /><br />

  <!-- AGE FILTER DROPDOWN -->

  <div ngbDropdown class="d-inline-block" style="padding-right: 25px">
    <h4>Filter by Age</h4>
    <button
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
      style="width: 200px"
    >
      {{ displayAgeFilterTitle }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="filterByAge('0', '0')">All</button>
      <button ngbDropdownItem (click)="filterByAge('16', '25')">16-25</button>
      <button ngbDropdownItem (click)="filterByAge('26', '50')">26-50</button>
      <button ngbDropdownItem (click)="filterByAge('51', '70')">51-70</button>
    </div>
  </div>

  <!-- FILTER FILTER DROPDOWN -->
  <div ngbDropdown class="d-inline-block">
    <h4>Filter by Salary</h4>
    <button
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
      style="width: 200px"
    >
      {{ displaySalaryFilterTitle }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="filterBySalary('0', '0')">All</button>
      <button ngbDropdownItem (click)="filterBySalary('10000', '100000')">
        10,000-1,00,000
      </button>
      <button ngbDropdownItem (click)="filterBySalary('100001', '250000')">
        1,00,001-2,50,000
      </button>
      <button ngbDropdownItem (click)="filterBySalary('250001', '500000')">
        2,50,001-5,00,000
      </button>
      <button ngbDropdownItem (click)="filterBySalary('500001', '1000000')">
        5,00,001-10,00,000
      </button>
    </div>
  </div>

  <br /><br />
  <table class="table table-striped">
    <tr>
      <th scope="col" (click)="sortData('id')">ID</th>
      <th scope="col" (click)="sortData('employee_name')">Name</th>
      <th scope="col" (click)="sortData('employee_salary')">Salary</th>
      <th scope="col" (click)="sortData('employee_age')">Age</th>
      <th scope="col">Edit Row</th>
      <th scope="col">Delete Row</th>
    </tr>
    <tr *ngFor="let item of employeeData">
      <td>{{ item.id }}</td>
      <td>{{ item.employee_name | titlecase }}</td>
      <td class="price">
        {{ item.employee_salary | currency: "PKR":"Rs. ":"3.0-0" }}
      </td>
      <td>{{ item.employee_age }}</td>
      <td>
        <button (click)="onEdit(item.id, content)" class="btn btn-info">
          Edit
        </button>
      </td>
      <td>
        <button (click)="onDelete(item.id)" class="btn btn-danger">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
